@model Divar.Core.ViewModels.ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset";
}

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">

            <h4 class="text-center">کلمه عبور خود را تغییر دهید</h4>

            <hr />
            <form asp-action="Reset">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    @*<label asp-for="Code" class="control-label"></label>*@
                    <input asp-for="Code" class="form-control", placeholder="کد تأیید" />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @*<label asp-for="Password" class="control-label"></label>*@
                    <input asp-for="Password" class="form-control", placeholder="کلمه عبور جدید" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @*<label asp-for="ConfirmPassword" class="control-label"></label>*@
                    <input asp-for="ConfirmPassword" class="form-control", placeholder="تکرار کلمه عبور" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="اعمال تغییرات" class="btn-red" />
                </div>
            </form>
        </div>
    </div>

</div>

