@model Divar.Core.ViewModels.EditAdvertViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 main">

            <h4 class="text-center">ویرایش آگهی @Model.Name</h4>

            <hr />
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    @*<label asp-for="Name" class="control-label"></label>*@
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @*<label asp-for="Des" class="control-label"></label>*@
                    <textarea asp-for="Des" class="form-control"></textarea>
                    <span asp-validation-for="Des" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="IsExpire" style="margin-right: 50px" /> @Html.DisplayNameFor(model => model.IsExpire)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="اعمال تغییرات" class="btn-red pull-right" />
                    <a asp-action="Index" asp-controller="Profile" class="btn-light pull-left">بازگشت</a>
                </div>
            </form>
        </div>
    </div>

</div>
